html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #eee;
}

header {
	width: 100%;
	/* document.documentElement.style.fontSize = innerWidth / 320 * 16 + "px";
	 在320px屏幕中，1rem即是16px，默认字体大小16px方便以后计算
	 */
	/* 高度要设置为44px，即 44 / 16 = 2.75*/
	height: 2.75rem;
	background: #ffd601;
	color: white;
	/*font-size: 25px;*/
	font-size: 1.5625rem;
	text-align: center;
	line-height: 2.75rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

/* 关于隐藏滚动条的设置,需要通过js的方式，屏幕宽度+20px; 后续还需要对应页面的内容设置会原来的大小(在对应js中操作)*/
.hidescroll{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2.75rem 0;
}
#content {
	/*width: 100%;*/
	/*width: 340px;*/
	height: 100%;
	overflow-x: hidden;
	/*overflow-y: auto;*/
	/*box-sizing: border-box;*/
	position: relative;
}

footer {
	width: 100%;
	height: 2.75rem;
	line-height: 2.75rem;
	font-size: 0.277777rem;
	border-top: 1px solid #f0f0f0;
	z-index: 99;
	position: fixed;
	display: flex;
	left: 0;
	bottom: 0;
	background: #fff;
}

footer a {
	display: block;
	width: 25%!important;
	text-align: center;
	overflow: hidden!important;
}

footer dl {
	height: 100%;
}

footer dl dt {
	height: 65%;
	position: relative;
}

footer dl dt span {
	display: inline-block;
	width: 50%;
	height: 100%;
}

footer dl dd {
	width: 100%;
	height: 35%;
	font-size: 0.625rem;
}

footer .home span {
	background: url(/static/base/img/home.png) no-repeat center;
	background-size: 1.25rem;
}

footer .market span {
	background: url(/static/base/img/market.png) no-repeat center;
	background-size: 1.25rem;
}

footer .cart span {
	background: url(/static/base/img/cart.png) no-repeat center;
	background-size: 1.25rem;
}

footer .mine span {
	background: url(/static/base/img/mine.png) no-repeat center;
	background-size: 1.25rem;
}

a {
	text-decoration: none
}

a:link {
	text-decoration: none
}

a:visited {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

a:active {
	text-decoration: none
}