{% extends 'base/base.html' %}
{% load static %}


{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'mine/css/login.css' %}">
{% endblock %}

{% block title %}
    <title>
        江西林更新｜登录
    </title>
{% endblock %}


{% block content %}
    <div class="login">
        {#    字体图标　　×　　　#}
        <div class="back"><a href="{% url 'axf:mine' %}"> <span class=" glyphicon glyphicon-remove "></span> </a></div>

{#    enctype="multipart/form-data"#}
{#    上传文件按钮的时候用的到　让值不被转义　#}
        <form action="{% url 'axf:login' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {#    账号#}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">账号</span>
                <input type="text" class="form-control" placeholder="6~12位数" aria-describedby="basic-addon1"
                       name="account">
            </div>

            {#    密码#}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">密码</span>
                <input type="password" class="form-control" placeholder="6~12位数" aria-describedby="basic-addon1"
                       name="password">
            </div>

            {% if error %}
                <p class="err">{{ error }}</p>
            {% endif %}
            {#登录#}
            <input class="btn btn-primary" value="登录" id="subButton" type="submit">
        </form>
    </div>
{% endblock %}


{% block EXTJS %}
    <script src="{% static 'mine/js/login.js' %}"></script>
{% endblock %}